# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/P2_template_debug.pdb
*.ipch
*.tlog
obj/x64/Debug/P2_template.log
*.db
*.log
*.ilk
bin/P2_IG_debug.pdb
*.pdb
